---
templateClass: tmpl-post
---
{% extends "base.njk" %}

{% block meinHead %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ tagUrl or url }}" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:type" content="article" />
    <meta name="author" content="{{ author or "Mubeen Team" }}">
    {% if thumbnail %}<meta property="og:image" content="{{ thumbnail }}" />{% endif %}
{% endblock %}


{% block meinContent %}

<h1>{{ seoTitle or title }}</h1>
<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/{{ tag | slug }}/{% endset -%}
&nbsp;| <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
{% if thumbnail %}<img src="{{ thumbnail }}" loading="lazy"/>{% endif %}

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}

<div class="post-nav">
  {%- if previousPost %}
	  <div class="prev-post">
		  <a class="nav-link" href="{{ previousPost.url | url }}">
			  <div>&larr;Previous<br/> {{ previousPost.data.title }}</a>
		  	</div>
	  </div>
  {% endif %}
  {%- if nextPost %}
	  <div class="next-post">
		  <a class="nav-link" href="{{ nextPost.url | url }}">
			  <div>Next &rarr;<br/>{{ nextPost.data.title }}</div>
		  </a>
	  </div>
  {% endif %}
</div>
  {% endif %}
  {% endif %}
<hr>
{% endblock %}
