---
title: "Basic Words Set1"
lesson: "/basic-words"
date: 2022-02-28
---

{% set deck = [
  {
    "front": "اِسْمٌ",
    "back": "noun",
    "roman": "ism[un]",
    "mnem": "Journal[ism] is just the \"noun\" of journal.",
    "img": ""
  },
  {
    "front": "بَحْرٌ",
    "back": "sea",
    "roman": "ba7r[un]",
    "mnem": "The best bar training is in the Bahr.",
    "img": ""
  },
  {
    "front": "تَمْرٌ",
    "back": "dates (fruit)",
    "roman": "tamr[un]",
    "mnem": "",
    "img": ""
  },
  {
    "front": "ثَوْبٌ",
    "back": "dress",
    "roman": "thawb[un]",
    "mnem": "",
    "img": ""
  },
  {
    "front": "جَمَلٌ",
    "back": "camel",
    "roman": "jamal[un]",
    "mnem": "",
    "img": ""
  },
  {
    "front": "حِصَاْنٌ",
    "back": "horse",
    "roman": "he9an[un]",
    "mnem": "What does this horse do for a living? Oh, \"He Signs\" autographs.",
    "img": ""
  },
  {
    "front": "خُبْزٌ",
    "back": "bread",
    "roman": "khubz[un]",
    "mnem": "I always cope with hunger by eating \"Copes",
    "img": ""
  },
  {
    "front": "دُبٌّ",
    "back": "bear",
    "roman": "dubb[un]",
    "mnem": "This bear is \"dope",
    "img": "https://i.imgur.com/ksfsm74.png"
  },
  {
    "front": "قَلَمٌ",
    "back": "pen",
    "roman": "qalam[un]",
    "mnem": "They say pen is mightier than the sword, so I just \"Kill Lambs\" with Qalam.",
    "img": "https://i.imgur.com/uqQ1gM5.png"
  },
  {
    "front": "ظَرْفٌ",
    "back": "condition or envelope",
    "roman": "THarf[un]",
    "mnem": "I had a work leave because of a condition called \"The Rough\".",
    "img": ""
  }
]
%}

{% include "deck.njk" %}
