---
title: "Family1 practice"
lesson: "/family1"
date: 2022-02-28
---

{% set deck = [
  {
    "front": "This is a father",
    "back": "هذا أبٌ",
    "roman": "hatha ab[un]"
  },
  {
    "front": "This is my father",
    "back": "هذا أبي",
    "roman": "hatha abi"
  },
  {
    "front": "This is a mother",
    "back": "هذه أُمٌّ",
    "roman": "hathehe umm[un]"
  },
  {
    "front": "This is my mother",
    "back": "هذه أّمّي",
    "roman": "hathehe ummi"
  },
  {
    "front": "هَذا أخِي",
    "back": "This is my brother",
    "roman": "hatha a5i"
  },
  {
    "front": "هذه أُختي",
    "back": "This is my sister",
    "roman": "hathehe u5ti"
  },
  {
    "front": "هذا الأخُ",
    "back": "This is the brother",
    "roman": "hatha ala5u"
  },
  {
    "front": "هذه أختٌ",
    "back": "This is a sister",
    "roman": "hathehe u5t[un]"
  },
  {
    "front": "This is my father's sister",
    "back": "هذهِ أُختُ أبي",
    "roman": "hathehe u5tu abi"
  },
  {
    "front": "This is my mother's brother",
    "back": "هذا أخو أُمي",
    "roman": "hatha a5u ummi"
  },
  {
    "front": "This is our father",
    "back": "هذا أبونا",
    "roman": "hatha aboona"
  },
  {
    "front": "This is our mother",
    "back": "هذه أمُنا",
    "roman": "hathehe ummuna"
  },
  {
    "front": "هذا أخونا",
    "back": "This is our brother",
    "roman": "hatha a5una"
  },
  {
    "front": "This is Zaid's father",
    "back": "هذا أبو زيدٍ",
    "roman": "hatha abu zaid[en]"
  },
  {
    "front": "هذا أخو مُحمدٍ",
    "back": "This is Mohammad's brother",
    "roman": "hatha a5u mohammad[en]"
  }
]
%}

{% include "deck.njk" %}
