---
layout: home.njk
permalink: /index.html
---
<h1>The Clear Path to Arabic</h1>
<p>
We make high quality Arabic lessons. All open source. No ads. No nonsense. Just straightforward simple Arabic lessons. 
</p>

<h2>Latest lessons</h2>
{% set maxPosts = collections.posts.length | min(7) %}
{% set postslist = collections.posts | head(-7) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
