---
layout: home.njk
tags: headerNav
eleventyNavigation:
  key: 📚 Material
  order: 1
---

<h1>Material</h1>
{% include "showcase.njk" %}

<h2>Flashcard Decks</h2>
{% set maxPosts = collections.flashcards.length | min(3) %}
{% set postslist = collections.flashcards | head(-7) %}
{% set postslistCounter = collections.flashcards | length %}
{% include "postslist.njk" %}
